<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <title>Zeeves</title>
  {{> opengraph}}
</head>
<body>
<noscript><div><img src="https://mc.yandex.ru/watch/67123789" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
{{> header}}
<main>
{{> account}}
</main>
{{> footer}}
</body>
</html>
