@use '../global/index'as *;

.agreements {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: $phone-width) {
    flex-direction: column;
  }
}

.agreements__col {
  flex: 1 0 50%;
}

.agreements__marks {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media screen and (max-width: $phone-width) {
    margin-top: $size-10;
  }
}

.agreements__mark {
  text-transform: uppercase;
  font-weight: bold;

  & + & {
    margin-left: $size-6;
  }

  &_gray {
    opacity: 0.2;
  }
}

.agreements__list {
  display: flex;
  align-items: center;

  @media screen and (max-width: $phone-width) {
    flex-direction: column;
  }
}

.agreements__item {
  & + & {
    margin-left: $size-10;

    @media screen and (max-width: $phone-width) {
      margin-left: 0;
      margin-top: $size-3;
    }
  }
}

.agreements__link {
  opacity: .4;
  text-transform: uppercase;
  font-weight: bold;
}
