@use "../global" as *;

.goto {
  width: 160px;
  height: 160px;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: $z-index-header;
  transition: transform .3s;
  transform: translate(100%, 100%);

  @media screen and (min-width: $desktop-xlg-width) {
    width: get-vw(160px);
    height: get-vw(160px);
  }
  
  @media screen and (max-width: $desktop-sm-width) {
    width: 140px;
    height: 140px;
  }

  &.show {
    transform: translate(0, 0);
  }
}

.goto__label {
  display: block;
  position: absolute;
  top: 20%;
  left: 20%;
  width: 200%;
  height: 100%;
  text-align: center;
  padding-top: 12px;
  transform: rotate(-45deg);
  transform-origin: center bottom;
  z-index: $z-index-header;
  background-color: $dark-blue;
}

@media screen and (max-width: $phone-width) {
  .goto {
    display: none;
  }
}