@use '../global/index'as *;

.navbar {
  display: flex;
}

.navbar__item {
  flex-shrink: 0;

  & + & {
    margin-left: $size-10;
  }

  @media screen and (max-width: $tablet-lg-width) {
    & + & {
      margin-left: $size-6;
    }
  }
}

.navbar__link {
  opacity: 0.4;
  transition: opacity 0.3s;

  &:hover {
    opacity: 1;
  }
}
