@use '../global/index'as *;

.navbar {
  display: flex;

  @media screen and (max-width: $tablet-sm-width) {
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}

.navbar__item {
  flex-shrink: 0;

  & + & {
    margin-left: $size-10;
  }

  @media screen and (max-width: $tablet-sm-width) {
    & + & {
      margin-left: 0;
      margin-top: $size-6;
    }
  }
}

.navbar__link {
  opacity: 0.8;
  transition: opacity 0.3s;

  &:hover {
    opacity: 1;
  }

  @media screen and (max-width: $tablet-sm-width) {
    opacity: 1;
    font-size: #{$font-size-8 + 2};
    line-height: 100%;
    font-weight: 500;
  }
}

.burger-menu {
  display: none;
  z-index: #{$z-index-header - 1};

  @media screen and (max-width: $tablet-sm-width) {
    display: block;
  }
}
