@use "../global" as *;

.partners-list {
  display: flex;
  width: 100%;

  @media screen and (max-width: $tablet-sm-width) {
    flex-wrap: wrap;
  }
}

.partners-list__item {
  width: calc(100% / 4 - #{$size-4 / 2});

  @media screen and (min-width: $desktop-xlg-width) {
    width: calc(100% / 4 - #{get-vw($size-4) / 2});
  }

  &:not(:first-child) {
    margin-left: $size-4;

    @media screen and (min-width: $desktop-xlg-width) {
      margin-left: get-vw($size-4);
    }
  }

  @media screen and (max-width: $desktop-sm-width) {
    width: calc(100% / 4 - #{$size-3 / 2});

    &:not(:first-child) {
      margin-left: $size-3;
    }
  }

  @media screen and (max-width: $tablet-sm-width) {
    width: calc(100% / 2 - #{$size-4 / 2});
    margin-bottom: $size-4;

    &:not(:first-child) {
      margin-left: $size-4;
    }

    &:nth-child(2n + 1) {
      margin-left: 0;
    }
  }

  @media screen and (max-width: $phone-width) {
    width: calc(100% / 2 - #{$size-3 / 2});
    margin-bottom: $size-3;

    &:not(:first-child) {
      margin-left: $size-3;
    }

    &:nth-child(2n + 1) {
      margin-left: 0;
    }
  }

  @media screen and (max-width: 320px) {
    width: calc(100% / 2 - #{$base-x / 2});
    margin-bottom: $base-x;

    &:not(:first-child) {
      margin-left: $base-x;
    }

    &:nth-child(2n + 1) {
      margin-left: 0;
    }
  }
}

.partners-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 56px 0;
  background: rgba(34, 34, 34, 0.02);
  border-radius: 2px;
  height: 100%;

  @media screen and (min-width: $desktop-xlg-width) {
    padding: get-vw(56px) 0;
  }

  &:hover {
    .partners-list__logo {
      fill: $dark-blue;
      stroke: $dark-blue;
    }
  }
}

.partners-list__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  padding: 20px;
  background: rgba(34, 34, 34, 0.02);
  border-radius: 2px;
  tab-size: 20px;
  height: 160px;
  position: relative;
}

.partners-list__card-img {
  display: inline-block;
  object-position: center;
  object-fit: contain;
  position: absolute;
  width: 140px;
  height: 140px;
  left: 73%;
  bottom: 38%;
}

.partners-list__logo {
  width: 60%;
  height: 100%;
  object-position: center;
  object-fit: contain;
  fill: $light-blue;
  stroke: $light-blue;
  transition: fill .3s, stroke .3s;

  @media (pointer: coarse) {
    fill: $dark-blue;
    stroke: $dark-blue;
  }
}
