@use "../global/index" as *;
@use "../components/social" as *;

.socials {
  display: flex;
  align-items: center;
}

.socials__item {
  & + & {
    margin-left: $size-2;

    @media screen and (max-width: $desktop-sm-width) {
      margin-left: $base-x;
    }

    @media screen and (max-width: $phone-width) {
      margin-left: $size-3;
    }
  }
}
