@use "../global/index" as *;

.social {
  width: $size-10 + 2;
  height: $size-10 + 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white;
  border-radius: 50%;

  &_light-blue {
    background-color: $light-blue;

    .social__img {
      fill: $white;
    }
  }

  @media screen and (max-width: $desktop-sm-width) {
    height: $size-8;
    width: $size-8;
  }
}

.social__img {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: $size-4;
  width: $size-4;
  fill: $dark-blue;

  @media screen and (max-width: $desktop-sm-width) {
    height: $size-3;
    width: $size-3;
  }
}
