@use "../global" as *;

.steps-list {
  display: flex;
  width: 100%;

  @media screen and (max-width: $tablet-sm-width) {
    flex-wrap: wrap;
  }
}

.steps-list__item {
  width: 240px;

  &:not(:first-child) {
    margin-left: $size-4;
  }

  @media screen and (max-width: $tablet-lg-width) {
    &:not(:first-child) {
      margin-left: $size-3;
    }
  }

  @media screen and (max-width: $tablet-sm-width) {
    width: calc(100% / 2 - #{$size-3 / 2});
    margin-bottom: $size-3;

    &:nth-child(2n + 1) {
      margin-left: 0;
    }
  }
}

.step {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.step__count {
  margin-bottom: $size-4;
}

.step__title {
  font-weight: normal;
}

.step__title-br-04 {

}
