@use "../global" as *;

.steps-list {
  display: flex;
  width: 100%;

  @media screen and (max-width: $phone-width) {
    flex-wrap: wrap;
  }
}

.steps-list__item {
  width: 240px;

  @media screen and (min-width: $desktop-xlg-width) {
    width: get-vw(240px);
  }

  &:not(:first-child) {
    margin-left: $size-4;

    @media screen and (min-width: $desktop-xlg-width) {
      margin-left: get-vw($size-4);
    }
  }

  @media screen and (max-width: $tablet-lg-width) {
    width: 25%;
  }

  @media screen and (max-width: $phone-width) {
    &:not(:first-child) {
      margin-left: $size-3;
    }
  }

  @media screen and (max-width: $phone-width) {
    width: calc(100% / 2 - #{$size-3 / 2});
    margin-bottom: $size-6;

    &:nth-child(2n + 1) {
      margin-left: 0;
    }
  }
}

.step {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.step__count {
  margin-bottom: $size-4;

  @media screen and (min-width: $desktop-xlg-width) {
    margin-bottom: get-vw($size-4);
  }
}

.step__title {
  font-weight: normal;
}
