@use "../global" as *;
@use "sass:math";

$section-height-lg: 240px;
$section-height-md: 200px;
$section-height-sm: 160px;

$star-size-lg: 120px;
$rectangle-size-lg: 80px;
$polygon-size-lg: 120px;

$star-size-md: 80px;
$rectangle-size-md: 70px;
$polygon-size-md: 90px;

$star-size-sm: 74px;
$rectangle-size-sm: 54px;
$polygon-size-sm: 80px;

$offset-lg: $section-height-lg + 70;
$offset-md: $section-height-md + 55;
$offset-md-2: $section-height-sm + 45;

.benefits {
  display: flex;
  min-height: $section-height-lg;
}

.benefits__item {
  flex: 1;
  position: relative;
  padding-top: $size-10;
  padding-bottom: $size-10;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  &_color {
    &_pink {
      background-color: $pink;
    }

    &_light-orange {
      background-color: $light-orange;
    }

    &_purpure {
      background-color: $purpure;
    }
  }

  &:hover {
    .benefits__link-img {
      transform: rotate(-90deg);
    }

    .figures__item-wrapper-moving {
      animation-play-state: running;
    }

    .figures__item {
      animation-play-state: running;
    }
  }
}

.benefits__title {
  margin-bottom: $size-6;
  position: relative;
}

.benefits__link {
  position: relative;
  display: flex;
  line-height: 100%;
}

.benefits__link-img {
  margin-left: $size-3;
  width: 9px;
  height: 9px;
  transition: transform 0.3s;
  transform-origin: right top;
}

.benefits__figures-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.figures__star {
  width: $star-size-lg;
  height: $star-size-lg;
}

.figures__rectangle {
  width: $rectangle-size-lg;
  height: $rectangle-size-lg;
}

.figures__polygon {
  width: $polygon-size-lg;
  height: $polygon-size-lg;
}

.figures__item-wrapper-moving {
  position: absolute;
  animation: moving 10s linear 0s infinite;
  animation-play-state: paused;

  @media (pointer: coarse) {
    animation-play-state: running;
  }

  &_star {
    &_1 {
      $right: 300px;
      $bottom: -50px;

      &_1 {
        right: $right;
        bottom: $bottom;
      }

      &_2 {
        right: $right - $offset-lg;
        bottom: $bottom + $offset-lg;
      }
    }

    &_2 {
      $right: 212px;
      $bottom: 24px;

      &_1 {
        right: $right;
        bottom: $bottom;
      }

      &_2 {
        right: $right - $offset-lg;
        bottom: $bottom + $offset-lg;
      }
    }

    &_3 {
      $right: -32px;
      $bottom: 0px;

      &_1 {
        right: $right;
        bottom: $bottom;
      }

      &_2 {
        right: $right - $offset-lg;
        bottom: $bottom + $offset-lg;
      }
    }

    &_4 {
      $right: -20px;
      $bottom: 146px;

      &_1 {
        right: $right;
        bottom: $bottom;
      }

      &_2 {
        right: $right - $offset-lg;
        bottom: $bottom + $offset-lg;
      }
    }

    &_5 {
      $left: -40px;
      $top: -20px;

      &_1 {
        left: $left;
        top: $top;
        animation: moving 6s linear 0s infinite;
      }

      &_2 {
        left: $left + $offset-lg;
        top: $top - $offset-lg;
        animation: moving 6s linear 0s infinite;
      }
    }
  }

  &_rectangle {
    &_1 {
      $right: -22px;
      $bottom: -152px;

      &_1 {
        right: $right;
        bottom: $bottom;
      }

      &_2 {
        right: $right - $offset-lg;
        bottom: $bottom + $offset-lg;
      }
    }

    &_2 {
      $right: 63px;
      $bottom: 150px;

      &_1 {
        right: $right;
        bottom: $bottom;
      }

      &_2 {
        right: $right - $offset-lg;
        bottom: $bottom + $offset-lg;
      }
    }

    &_3 {
      $right: 54px;
      $bottom: 56px;

      &_1 {
        right: $right;
        bottom: $bottom;
      }

      &_2 {
        right: $right - $offset-lg;
        bottom: $bottom + $offset-lg;
      }
    }

    &_4 {
      $right: 164px;
      $bottom: 46px;

      &_1 {
        right: $right;
        bottom: $bottom;
      }

      &_2 {
        right: $right - $offset-lg;
        bottom: $bottom + $offset-lg;
      }
    }

    &_5 {
      $right: 254px;
      $bottom: -36px;

      &_1 {
        right: $right;
        bottom: $bottom;
      }

      &_2 {
        right: $right - $offset-lg;
        bottom: $bottom + $offset-lg;
      }
    }
  }

  &_polygon {
    &_1 {
      $right: -88px;
      $bottom: -110px;

      &_1 {
        right: $right;
        bottom: $bottom;
      }

      &_2 {
        right: $right - $offset-lg;
        bottom: $bottom + $offset-lg;
      }
    }

    &_2 {
      $right: 62px;
      $bottom: 104px;

      &_1 {
        right: $right;
        bottom: $bottom;
      }

      &_2 {
        right: $right - $offset-lg;
        bottom: $bottom + $offset-lg;
      }
    }

    &_3 {
      $right: 270px;
      $bottom: 130px;

      &_1 {
        right: $right;
        bottom: $bottom;
      }

      &_2 {
        right: $right - $offset-lg;
        bottom: $bottom + $offset-lg;
      }
    }

    &_4 {
      $right: 164px;
      $bottom: 46px;

      &_1 {
        right: $right;
        bottom: $bottom;
      }

      &_2 {
        right: $right - $offset-lg;
        bottom: $bottom + $offset-lg;
      }
    }

    &_5 {
      $right: 200px;
      $bottom: -76px;

      &_1 {
        right: $right;
        bottom: $bottom;
      }

      &_2 {
        right: $right - $offset-lg;
        bottom: $bottom + $offset-lg;
      }
    }
  }
}

.figures__item {
  &_animation {
    &_1 {
      animation: rotation 20s linear 0s infinite;
    }

    &_2 {
      animation: rotation 20s linear 0s infinite reverse;
    }

    &_3 {
      animation: rotation 40s linear 0s infinite;
    }

    &_4 {
      animation: rotation 30s linear 0s infinite reverse;
    }
  }
}

.figures__item {
  animation-play-state: paused;

  @media (pointer: coarse) {
    animation-play-state: running;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moving {
  0% {
    transform: translate(-$offset-lg, $offset-lg);
  }
  100% {
    transform: translate(0, 0);
  }
}

@media screen and (max-width: $desktop-sm-width) {
  .benefits {
    min-height: $section-height-md;
  }

  .figures__star {
    width: $star-size-md;
    height: $star-size-md;
  }

  .figures__rectangle {
    width: $rectangle-size-md;
    height: $rectangle-size-md;
  }

  .figures__polygon {
    width: $polygon-size-md;
    height: $polygon-size-md;
  }

  .figures__item-wrapper-moving {
    &_star {
      &_1 {
        $right: 300px;
        $bottom: -50px;

        &_1 {
          right: $right;
          bottom: $bottom;
        }

        &_2 {
          right: $right - $offset-md;
          bottom: $bottom + $offset-md;
        }
      }

      &_2 {
        $right: 212px;
        $bottom: 24px;

        &_1 {
          right: $right;
          bottom: $bottom;
        }

        &_2 {
          right: $right - $offset-md;
          bottom: $bottom + $offset-md;
        }
      }

      &_3 {
        $right: -32px;
        $bottom: 0px;

        &_1 {
          right: $right;
          bottom: $bottom;
        }

        &_2 {
          right: $right - $offset-md;
          bottom: $bottom + $offset-md;
        }
      }

      &_4 {
        $right: -20px;
        $bottom: 146px;

        &_1 {
          right: $right;
          bottom: $bottom;
        }

        &_2 {
          right: $right - $offset-md;
          bottom: $bottom + $offset-md;
        }
      }

      &_5 {
        $left: -40px;
        $top: -20px;

        &_1 {
          left: $left;
          top: $top;
          animation: moving 6s linear 0s infinite;
        }

        &_2 {
          left: $left + $offset-md;
          top: $top - $offset-md;
          animation: moving 6s linear 0s infinite;
        }
      }
    }

    &_rectangle {
      &_1 {
        $right: -22px;
        $bottom: -152px;

        &_1 {
          right: $right;
          bottom: $bottom;
        }

        &_2 {
          right: $right - $offset-md;
          bottom: $bottom + $offset-md;
        }
      }

      &_2 {
        $right: 63px;
        $bottom: 150px;

        &_1 {
          right: $right;
          bottom: $bottom;
        }

        &_2 {
          right: $right - $offset-md;
          bottom: $bottom + $offset-md;
        }
      }

      &_3 {
        $right: 54px;
        $bottom: 56px;

        &_1 {
          right: $right;
          bottom: $bottom;
        }

        &_2 {
          right: $right - $offset-md;
          bottom: $bottom + $offset-md;
        }
      }

      &_4 {
        $right: 164px;
        $bottom: 46px;

        &_1 {
          right: $right;
          bottom: $bottom;
        }

        &_2 {
          right: $right - $offset-md;
          bottom: $bottom + $offset-md;
        }
      }

      &_5 {
        $right: 254px;
        $bottom: -36px;

        &_1 {
          right: $right;
          bottom: $bottom;
        }

        &_2 {
          right: $right - $offset-md;
          bottom: $bottom + $offset-md;
        }
      }
    }

    &_polygon {
      &_1 {
        $right: -88px;
        $bottom: -110px;

        &_1 {
          right: $right;
          bottom: $bottom;
        }

        &_2 {
          right: $right - $offset-md;
          bottom: $bottom + $offset-md;
        }
      }

      &_2 {
        $right: 62px;
        $bottom: 104px;

        &_1 {
          right: $right;
          bottom: $bottom;
        }

        &_2 {
          right: $right - $offset-md;
          bottom: $bottom + $offset-md;
        }
      }

      &_3 {
        $right: 270px;
        $bottom: 130px;

        &_1 {
          right: $right;
          bottom: $bottom;
        }

        &_2 {
          right: $right - $offset-md;
          bottom: $bottom + $offset-md;
        }
      }

      &_4 {
        $right: 164px;
        $bottom: 46px;

        &_1 {
          right: $right;
          bottom: $bottom;
        }

        &_2 {
          right: $right - $offset-md;
          bottom: $bottom + $offset-md;
        }
      }

      &_5 {
        $right: 200px;
        $bottom: -76px;

        &_1 {
          right: $right;
          bottom: $bottom;
        }

        &_2 {
          right: $right - $offset-md;
          bottom: $bottom + $offset-md;
        }
      }
    }
  }

  @keyframes moving {
    0% {
      transform: translate(-$offset-md, $offset-md);
    }
    100% {
      transform: translate(0, 0);
    }
  }
}

@media screen and (max-width: $tablet-lg-width) {
  .benefits {
    flex-direction: column;
    min-height: $section-height-sm * 3;
  }

  .benefits__item {
    padding-top: $size-6;
    padding-bottom: $size-6;
  }

  .figures__item-wrapper-moving {
    &_star {
      &_1 {
        $right: 330px;
        $bottom: 90px;

        &_1 {
          right: $right;
          bottom: $bottom;
        }

        &_2 {
          right: $right - $offset-md;
          bottom: $bottom + $offset-md-2;
        }
      }

      &_2 {
        $right: 290px;
        $bottom: -24px;

        &_1 {
          right: $right;
          bottom: $bottom;
        }

        &_2 {
          right: $right - $offset-md;
          bottom: $bottom + $offset-md-2;
        }
      }

      &_3 {
        $right: 200px;
        $bottom: 4px;

        &_1 {
          right: $right;
          bottom: $bottom;
        }

        &_2 {
          right: $right - $offset-md;
          bottom: $bottom + $offset-md-2;
        }
      }

      &_4 {
        $right: 88px;
        $bottom: 90px;

        &_1 {
          right: $right;
          bottom: $bottom;
        }

        &_2 {
          right: $right - $offset-md;
          bottom: $bottom + $offset-md-2;
        }
      }

      &_5 {
        $right: -10px;
        $bottom: 0px;

        &_1 {
          right: $right;
          bottom: $bottom;
          animation: moving 10s linear 0s infinite;
        }

        &_2 {
          right: $right - $offset-md;
          bottom: $bottom + $offset-md-2;
          animation: moving 10s linear 0s infinite;
        }
      }
    }

    &_rectangle {
      &_1 {
        $right: 360px;
        $bottom: -20px;

        &_1 {
          right: $right;
          bottom: $bottom;
        }

        &_2 {
          right: $right - $offset-md;
          bottom: $bottom + $offset-md-2;
        }
      }

      &_2 {
        $right: 200px;
        $bottom: 28px;

        &_1 {
          right: $right;
          bottom: $bottom;
        }

        &_2 {
          right: $right - $offset-md;
          bottom: $bottom + $offset-md-2;
        }
      }

      &_3 {
        $right: 94px;
        $bottom: -9px;

        &_1 {
          right: $right;
          bottom: $bottom;
        }

        &_2 {
          right: $right - $offset-md;
          bottom: $bottom + $offset-md-2;
        }
      }

      &_4 {
        $right: 64px;
        $bottom: 87px;

        &_1 {
          right: $right;
          bottom: $bottom;
        }

        &_2 {
          right: $right - $offset-md;
          bottom: $bottom + $offset-md-2;
        }
      }

      &_5 {
        $right: -26px;
        $bottom: 42px;

        &_1 {
          right: $right;
          bottom: $bottom;
        }

        &_2 {
          right: $right - $offset-md;
          bottom: $bottom + $offset-md-2;
        }
      }
    }

    &_polygon {
      &_1 {
        $right: 70px;
        $bottom: 77px;

        &_1 {
          right: $right;
          bottom: $bottom;
        }

        &_2 {
          right: $right - $offset-md;
          bottom: $bottom + $offset-md-2;
        }
      }

      &_2 {
        $right: 118px;
        $bottom: -55px;

        &_1 {
          right: $right;
          bottom: $bottom;
        }

        &_2 {
          right: $right - $offset-md;
          bottom: $bottom + $offset-md-2;
        }
      }

      &_3 {
        $right: 258px;
        $bottom: 80px;

        &_1 {
          right: $right;
          bottom: $bottom;
        }

        &_2 {
          right: $right - $offset-md;
          bottom: $bottom + $offset-md-2;
        }
      }

      &_4 {
        $right: 288px;
        $bottom: 2px;

        &_1 {
          right: $right;
          bottom: $bottom;
        }

        &_2 {
          right: $right - $offset-md;
          bottom: $bottom + $offset-md-2;
        }
      }

      &_5 {
        $right: 400px;
        $bottom: -55px;

        &_1 {
          right: $right;
          bottom: $bottom;
        }

        &_2 {
          right: $right - $offset-md;
          bottom: $bottom + $offset-md-2;
        }
      }
    }
  }

  @keyframes moving {
    0% {
      transform: translate(-$offset-md, $offset-md-2);
    }
    100% {
      transform: translate(0, 0);
    }
  }
}
