@use "../global" as *;
@use "sass:math";

.card-screen {
  height: calc(var(--fsvh, 1vh) * 100);
  position: relative;
  background-color: #f9fcff;
}

.card-screen__example-svg {
  position: absolute;
}

.card-screen__bg-wrapper {
  width: 100%;
  height: calc(var(--fsvh, 1vh) * 112);
  position: absolute;
  bottom: calc(var(--fsvh, 1vh) * -12);
  overflow: hidden;
}

.card-screen__bg-inner {
  width: 220%;
  height: calc(var(--fsvh, 1vh) * 112);
  min-height: 220vw;
  min-width: 100vh;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  clip-path: url(#myPath);
}

.card-screen__bg {
  background-image: url("../../images/design/bank-card.jpeg");
  width: 100vw;
  height: calc(var(--fsvh, 1vh) * 112);
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
