@use "../global" as *;

.card-release {
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-wrapper {
    position: absolute;
    left: 50%;
}

.star-card-release {
    position: absolute;
    width: 240px;
    height: 240px;
    z-index: -200;
    // @media screen and (max-width: $phone-width) {
    // }
}

.star-card-release:hover {
    // clip-path: view-box 120%;
    transform: scale(1.2, 1.2) ;
    transition: 0.3s;
}

.star-card-release {
    &_light-blue {
        top: 30px;
        left: -54.5vw;
    }

    &_light-orange {
        left: -7.5vw;
        top: 20px;
    }

    &_purple {
        z-index: -40;
        left: 3.7vw;
        top: 65px;
    }

    &_pink {
        left: 33vw;
        top:-70px;
    }

    &_bg {
        z-index: -20;
        left: 35%;
        top: 120px;
    }
}

.text-wrapper {
    text-align: center;
    margin-bottom: $size-16;
}