@use "../global" as *;

.community {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: $size-10;
    padding-right: $size-10;
    margin-top: $size-35;
    width: 100%;

    &__preference {
        position: relative;
    }

    &__button {
        margin-top: $size-16;
    }
}

.preference {
    display: inline;
    text-align: center;
}

.accentuation {
    position: relative;
    text-align: center;

    &_users {

        &::after {
            content: '';
            display: block;
            position: absolute;
            background: $light-orange;
            left: -$size-10;
            top: -$size-6;
            height: calc(100% + #{$size-6 * 2});
            width: calc(100% + #{$size-8 * 2});
            border-radius: 25px;
            z-index: -1;
        }
    }

    &_zeeves {

        &::after {
            content: '';
            display: block;
            position: absolute;
            left: -$size-7;
            top: -$size-6;
            height: calc(100% + (#{$size-6} * 2));
            width: calc(100% + (#{$size-4} * 2));
            border-radius: 25px;
            background-color: $pink;
            z-index: -1;
        }
    }

    &_community {

        &::after {
            content: '';
            display: block;
            position: absolute;
            left: -$size-14;
            top: -$size-6;
            height: calc(100% + (#{$size-6} * 2));
            width: calc(100% + (#{$size-16} * 2));
            border-radius: 25px;
            background-color: $purpure;
            z-index: -1;
        }
    }
}


