@use "../global" as *;

.community {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.accentuation {
  position: relative;
  display: block;

  &_users {
    &::after {
      content: "";
      position: absolute;
      background: $light-orange;
      left: -$size-6;
      top: -$size-6;
      height: calc(100% + #{$size-6 * 2});
      width: calc(100% + #{$size-6 * 2});
      border-radius: 25px;
      z-index: -1;
    }
  }

  &_zeeves {
    &::after {
      content: "";
      position: absolute;
      left: -$size-6;
      top: -$size-6;
      height: calc(100% + #{$size-6 * 2});
      width: calc(100% + #{$size-6 * 2});
      border-radius: 25px;
      background-color: $pink;
      z-index: -1;
    }
  }

  &_community {
    &::after {
      content: "";
      position: absolute;
      left: -$size-6;
      top: -$size-6;
      height: calc(100% + #{$size-6 * 2});
      width: calc(100% + #{$size-6 * 2});
      border-radius: 25px;
      background-color: $purpure;
      z-index: -1;
    }
  }
}
