@use "../global" as *;

.first-section {
  min-height: 100vh;
  background: url("../../images/design/bg.png"), $light-blue;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: $size-27 + $size-7;
  padding-bottom: $size-10;
}

.first-section__title {
  margin-bottom: $size-10;
}

.first-section__desc {
  width: 624px;
  display: inline-block;
  margin-bottom: $size-16;
}

.first-section__buttons {
  display: flex;
}

.first-section__main-button {
  margin-right: $size-4;
}
