@use '../global/index' as *;
@use '../components/agreements' as *;
@use '../components/nav-footer' as *;
@use '../components/footer-main' as *;

.footer {
  min-height: 440px;

  @media screen and (max-width: $tablet-sm-width) {
    min-height: auto;
  }
}

.footer__agreements {
  margin-top: 144px;

  @media screen and (min-width: $desktop-xlg-width) {
    margin-top: get-vw(144px);
  }

  @media screen and (max-width: $tablet-sm-width) {
    margin: $size-6 0;
  }
}

.bank-page-padding {
  padding-top: 140px;
  @media screen and (max-width: $tablet-sm-width) {
    padding-top: 48px;
  }
  @media screen and (max-width: $phone-width) {
    padding-top: 48px;
  }
}