@use "../global/index" as *;
@use "../components/logo" as *;
@use "../components/navbar" as *;
@use "../components/socials" as *;

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: $size-26;
  background-color: $light-blue;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: $z-index-header;

  @media screen and (max-width: $desktop-md-width) {
    height: $size-22;
  }

  @media screen and (max-width: $desktop-sm-width) {
    height: $size-20;
  }

  @media screen and (max-width: $tablet-sm-width) {
    background-color: $white;
    height: $size-12;
  }
}

.header__inner {
  display: flex;
  align-items: center;
  width: 100%;

  @media screen and (max-width: $tablet-sm-width) {
    justify-content: space-between;
  }
}

.header__navbar {
  margin-left: $size-10;

  @media screen and (max-width: $tablet-lg-width) {
    margin-left: $size-6;
  }

  @media screen and (max-width: $tablet-sm-width) {
    display: none;
  }
}

.header__socials {
  margin-left: auto;

  @media screen and (max-width: $tablet-sm-width) {
    display: none;
  }
}

.header__menu-btn {
  display: none;
  align-items: center;
  justify-content: center;
  height: 100%;

  @media screen and (max-width: $tablet-sm-width) {
    display: flex;
  }
}

.menu-btn {
  fill: $black;
  width: 20px;
}
