@use "../global/index" as *;
@use "../components/logo" as *;
@use "../components/navbar" as *;
@use "../components/socials" as *;

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: $size-26;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: $z-index-header;
  transition: background-color 0.3s;

  @media screen and (min-width: $desktop-xlg-width) {
    height: get-vw($size-22);
  }

  @media screen and (max-width: $desktop-md-width) {
    height: $size-22;
  }

  @media screen and (max-width: $desktop-sm-width) {
    height: $size-20;
  }

  @media screen and (max-width: $tablet-sm-width) {
    background-color: $white;
    height: $size-12;
  }
}
@media screen and (min-width: $tablet-sm-width) {
  .header_white-theme:not(.header_white) {
    .logo__img {
      path {
        fill: $white;
      }
    }

    .navbar__link:not(.text_color_orange) {
      color: $white;
      opacity: 0.4;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.loaded {
  .header {
    &_white {
      background-color: $white;

      .social {
        background-color: $light-blue;

        .social__img {
          fill: $white;
        }
      }
    }
  }
}

.header__inner {
  display: flex;
  align-items: center;
  width: 100%;

  @media screen and (max-width: $tablet-sm-width) {
    justify-content: space-between;
  }
}

.header__navbar {
  margin-left: $size-10;

  @media screen and (min-width: $desktop-xlg-width) {
    margin-left: get-vw($size-10);
  }

  @media screen and (max-width: $tablet-lg-width) {
    margin-left: $size-6;
  }

  @media screen and (max-width: $tablet-sm-width) {
    position: fixed;
    top: $size-12;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(100vh - #{$size-12});
    margin: 0;
    background-color: $white;
    pointer-events: none;
    transform: translateY(-150vh);
    transition: transform 0.3s, opacity 0.4s;
    opacity: 0;

    &.active {
      pointer-events: auto;
      transform: translateY(0vh);
      opacity: 1;
    }

    @media screen and (max-width: $phone-width) {
      height: calc(100vh - #{$size-12 * 2});
    }
  }
}

.header__socials {
  margin-left: auto;

  @media screen and (max-width: $tablet-sm-width) {
    display: none;
  }
}

.header__menu-btn {
  display: none;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  position: relative;
  width: 20px;

  &.active {
    .menu-btn {
      transform: scale(0.9) translateY(-50%);
      opacity: 0;
      visibility: hidden;

      &_close {
        transform: scale(1) translateY(-50%);
        opacity: 1;
        visibility: visible;
      }
    }
  }

  @media screen and (max-width: $tablet-sm-width) {
    display: flex;
  }
}

.menu-btn {
  fill: $black;
  width: 20px;
  transition: transform 0.3s, opacity 0.3s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  transform: scale(1) translateY(-50%);
  opacity: 1;

  &_close {
    transform: scale(0.9) translateY(-50%);
    opacity: 0;
  }
}
