@use "../global" as *;

.manage {
  display: flex;
  position: relative;

  &_bacground-color {
    &_dark-blue {
      background-color: $dark-blue;
    }

    &_light-blue {
      background-color: $light-blue;
    }

    &_pink {
      background-color: $pink;
    }

    &_light-orange {
      background-color: $light-orange;
    }

    &_purpure {
      background-color: $purpure;
    }
  }

  &_align {
    &_right {
      align-self: flex-end;
    }
  }
}

.manage__column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.manage__title {
  margin-bottom: $size-16;
}

.manage__desc-title {
  margin-bottom: $size-6;
  display: inline-block;
}

.manage__user {
  border-radius: 50%;
  margin-bottom: $size-4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $size-16;
  width: $size-16;

  &.manage_align_right {
    margin-top: $size-6;
  }
}

.manage__message {
  margin-bottom: $base-x;
  padding-top: $size-5;
  padding-left: $size-8;
  padding-right: $size-8;
  padding-bottom: $size-6;
  border-radius: $size-6;
}

.manage__doodle {
  position: absolute;
  left: 0;
  bottom: -48px;
  object-fit: contain;
}

@media screen and (max-width: $tablet-lg-width) {
  .manage__title {
    margin-bottom: $size-12;
    padding-right: $size-6;
  }

  .manage__desc {
    padding-right: $size-6;
  }

  .manage__desc-title {
    margin-bottom: $size-5;
  }

  .manage__user {
    margin-bottom: $size-3;
    height: $size-14;
    width: $size-14;

    &.manage_align_right {
      margin-top: $size-4;
    }
  }

  .manage__message {
    margin-bottom: $base-x;
    padding-top: $size-4 + 2;
    padding-left: $size-6;
    padding-right: $size-6;
    padding-bottom: $size-5;
    border-radius: $size-5;
  }

  .manage__doodle {
    height: 150px;
    bottom: -8px;
  }
}

@media screen and (max-width: $phone-width) {
  .manage {
    flex-direction: column;
  }

  .manage__doodle {
    display: none;
  }

  .manage__title {
    margin-bottom: $size-6;
    padding-right: 0;
  }

  .manage__desc {
    padding-right: 0;
    margin-bottom: $size-10;
  }

  .manage__desc-title {
    margin-bottom: $size-4;
  }

  .manage__user {
    margin-bottom: $size-2;
    height: $size-12;
    width: $size-12;

    &.manage_align_right {
      margin-top: $size-3;
    }
  }

  .manage__message {
    margin-bottom: $base-x;
    padding-top: $size-2 + 2;
    padding-left: $size-3;
    padding-right: $size-3;
    padding-bottom: $size-3 + 2;
    border-radius: $size-4;
  }
}
