@use '../global/index' as *;

.preloader{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: $light-blue;
  z-index: $z-index-header - 1;
  padding-top: $size-27 + $size-6;
  transition: transform .6s;
  transform: translateY(0vh);

  @media (max-width: $tablet-lg-width) {
    padding-top: $size-20 + $size-10;
  }

  @media (max-width: $phone-width) {
    z-index: $z-index-header + 1;
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.preloader__counter {
  font-size: 98px;

  @media (max-width: $tablet-lg-width) {
    font-size: 78px;
  }
}

.loaded{
  .preloader{
    transform: translateY(-100vh);
  }
}
