@use "../global" as *;
@use "../components/steps-list" as *;

.steps-section {
  position: relative;
}

.steps-section__title {
  margin-bottom: $size-10;

  @media screen and (max-width: $tablet-lg-width) {
    margin-bottom: $size-6;
  }

  @media screen and (max-width: $phone-width) {
    margin-bottom: $size-10;
  }
}

.steps-section__list {

}

.steps-section__actions {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: $size-16;

  @media screen and (max-width: $tablet-lg-width) {
    margin-top: $size-6;
  }
}

.steps-section__action {
  @media screen and (max-width: $phone-width) {
    width: 100%;
  }
}

.steps-section__doodle {
  position: absolute;
  right: -3.4%;
  top: 0;
  object-fit: contain;

  @media screen and (max-width: $desktop-sm-width) {
    top: auto;
    bottom: -50%;
  }

  @media screen and (max-width: $tablet-lg-width) {
    height: 150px;
    bottom: -36%;
  }

  @media screen and (max-width: $tablet-sm-width) {
    height: 150px;
    bottom: -32%;
  }

  @media screen and (max-width: 650px) {
    display: none;
  }
}
