@use "../global" as *;

.account {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    &__title {
        margin-bottom: $size-10;
    }
}

.wallet-button {
    margin-top: $size-6;
    margin-bottom: $size-16;
}

.button-logo {
    margin-right: 5px;
}

.checkbox-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: $size-10;
}

.submit-button {
    width: 120px;
    height: 120px;
    border-radius:50%;
    background-color: $orange;
    margin-top: $size-6;
}

.send-img {
    margin-bottom: $size-6;
}

.submit-button {
    margin-top: $size-6;
}

.form-wrapper {
    &__email-input {
        
    }
    &__title {

    }
}