<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <title>Zeeves</title>
  {{> opengraph}}
  <script>
    window.pageLoaded = false;
    window.addEventListener("load", function() {
      window.pageLoaded = true;
    });
    window.onbeforeunload = function() {
      window.scrollTo(0, 0);
    };

  </script>
</head>
<body class="no-scroll">
<noscript><div><img src="https://mc.yandex.ru/watch/67123789" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
{{> preloader}}
{{> header}}
<main>
  <section class="community section-margin-top main-padding observed-js show">
    <div class="manage__column appearance-animation element-show">
      <h2 class="manage__title text_size_h2 text_color_light-blue text_weight_medium"><span class="text_color_dark-blue">We are hiring!</span></h2>
      <br>
      <br>
      <h3>You can browse open positions below or just send your CV and some interesting information about you to <a class="text_color_dark-blue" href="mailto:hr@zeeves.com">hr@zeeves.com</a></h3>
      <br>
      <br>
      <h3><span class="text_color_dark-blue"><br><br><a class="text_color_dark-blue" target="_blank" href="/docs/data-analyst.pdf">Data analyst (Full-Time, Yekaterinburg, Russia)</a></span></h3>
      <br>
      <br>
      <h3><span><a class="text_color_dark-blue" target="_blank" href="/docs/junior-dev.pdf">Junior Software Developer (Full-Time, Yekaterinburg, Russia)</a></span></h3>
    </div>
  </section>
</main>
{{> footer}}
{{> goto}}
</body>
</html>
