@use "../global" as *;

html {
  background-color: $white;
  font-family: $fontMain;
  letter-spacing: -0.02em;
}

main {
  overflow-x: hidden;
}

.no-scroll {
  overflow: hidden;
}

.main-padding {
  padding-left: $size-10;
  padding-right: $size-10;

  @media screen and (min-width: $desktop-xlg-width) {
    padding-left: get-vw($size-10);
    padding-right: get-vw($size-10);
  }
}

.ancor {
  position: absolute;
  top: -100px;
}

.section-margin-top {
  margin-top: $size-35;

  @media screen and (min-width: $desktop-xlg-width) {
    margin-top: get-vw($size-35);
  }
}

@media screen and (max-width: $tablet-lg-width) {
  .main-padding {
    padding-left: $size-6;
    padding-right: $size-6;
  }

  .section-margin-top {
    margin-top: $size-22;
  }
}

@media screen and (max-width: $phone-width) {
  .main-padding {
    padding-left: $size-3;
    padding-right: $size-3;
  }

  .section-margin-top {
    margin-top: $size-16;
  }
}
