<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <title>Zeeves</title>
    {{> opengraph}}
</head>
<body>
{{> header}}
<main>
    {{> first}}
    {{> benefits}}
    {{> manage}}
    {{> steps}}
    {{> partnership}}
    {{> community}}
</main>
{{> footer}}
</body>
</html>
