<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <title>Zeeves</title>
  {{> opengraph}}
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
<noscript>
  <div><img src="https://mc.yandex.ru/watch/67123789" style="position:absolute; left:-9999px;" alt="" /></div>
</noscript>
{{> header}}
<main>
  {{> card-screen}}
  {{> benchmarks}}
  {{> hurry-up}}
  {{> connect-form}}
</main>
{{> footer}}
</body>
</html>
