<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <title>Zeeves</title>
  {{> opengraph}}
  <script src="https://www.google.com/recaptcha/api.js?render=6LeLU4EgAAAAAFtX9fs9XpcfFPOk3cBzvE_hWQmG"></script>
</head>
<body class="loaded">
<noscript>
  <div><img src="https://mc.yandex.ru/watch/67123789" style="position:absolute; left:-9999px;" alt="" /></div>
</noscript>
{{> header addedClasses="header_white-theme"}}
<main>
  {{> card-screen}}
  {{> benchmarks}}
  {{> hurry-up}}
  {{> connect-form}}
  {{> popup}}
</main>
{{> footer-bank-page
  style-for-background="background-color: white;"}}

</body>
</html>
