<section class="text-block">
  <h1 class="text-block__title text text_size_h2 main-padding header-separator text_color_light-blue text_weight_medium">
    <span class="text_color_dark-blue">About us</span>
  </h1>
  <div class="text-block__img-wrapper">
    <img src="/images/content/stub-img.jpg" alt="" class="text-block__img parallax">
  </div>
  <div class="text-block__main main-padding">
    <div class="text-block__text text text_size_desc">
      <h2 class="text-block__sub-title text text_size_desc text_weight_medium">
        Who we are?
      </h2>
      <br>
      <p class="text-block__paragraph">
        We think we are the best team building the best product in the world 🚀.
      </p>
    </div>
  </div>
  <div class="text-block__main main-padding">
    <div class="text-block__text text text_size_desc">
          <h2 class="text-block__sub-title text text_size_desc text_weight_medium">
        What do we want?
      </h2>
      <br>
      <p class="text-block__paragraph">
        We want to bring people an opportunity to view crypto in different way - more convinient, more understandable.
        <br>
        <br>
        We provide our solution in Telegram - one of the most widely used messengers in the world - so it can be integrated into daily life as much as it could be.
      </p>
    </div>
  </div>
  <div class="text-block__main main-padding">
    <div class="text-block__text text text_size_desc">
      <h2 class="text-block__sub-title text text_size_desc text_weight_medium">
        Where we are located?
      </h2>
      <br>
      <p class="text-block__paragraph">
        The core team is located in Russia - mostly in Yekaterinburg 
        (<a target="_blank" class="text_color_dark-blue" href="https://www.google.com/maps/place/56%C2%B049'58.6%22N+60%C2%B036'42.5%22E/@56.8362259,60.5256703,11.63z/data=!4m6!3m5!1s0x0:0xf7f8e8e905bbf30e!7e2!8m2!3d56.8329545!4d60.6117911">here</a>).
        <br> 
        Sometimes we also meet in Moscow, where we have several advisors. 
        <br>
        Our company Zeeves PTE LTD is registered in Singapore.
        <br>
        <br>
        Addresses:
        <br>
        620014, Sverdlovskaya oblast', Yekaterinburg, Lenina street, 8, office n. 16 (Work & Deal), Attn: Oleg Rubin
        <br>
        068914, Singapore, 160 Robinson road, #14-04, Singapore business federation centre, Attn: Aleksandr Safonov
      </p>
    </div>
  </div>
  <div class="text-block__main main-padding">
    <div class="text-block__text text text_size_desc">
      <h2 class="text-block__sub-title text text_size_desc text_weight_medium">
        Who are our core team members?
      </h2>
      <br>
      <p class="text-block__paragraph">
        Aleksandr Safonov, CEO (<a href="mailto:a@zeeves.com">a@zeeves.com</a>, location - Moscow)
        <br>
        Oleg Rubin, CTO (<a href="mailto:or@zeeves.com">or@zeeves.com</a>, location - Yekaterinburg)
        <br>
        Maria Novitskaya, CFO and HR Lead (<a href="mailto:mn@zeeves.com">mn@zeeves.com</a>, location - Yekaterinburg)
        <br>
        Anna Russkikh, Marketing Lead (<a href="mailto:anna@zeeves.com">anna@zeeves.com</a>, location - Yekaterinburg)
      </p>
    </div>
  </div>
  </div>
</section>