<section class="account section-margin-top main-padding">
    <span class="text text_size_x-small text_weight_bold text_uppercase text_color_black">please, connect<br>your zeeves account</span>
    <button class="button wallet-button button_type_secondary text text_size_small text_weight_bold text_color_dark-blue">
        <img class="button-logo" src="../images/content/logo-button.svg">
        Connect wallet
    </button>
    <span class="text text_size_x-small text_weight_bold text_uppercase text_color_black">Enter your e-mail</span>
    <input type="email" placeholder="mail@mail.com" class="email-input">
    <div class="checkbox-wrapper">
        <div class="checkbox"></div>
        <span class="text text_size_x-small text_weight_bold text_uppercase text_color_black">i accept 
            <a src="" class="text text_color_black text_size_x-small privacy-link">privacy policy</a></span>
        <div class="captcha"></div>
    </div>
    <button class="submit-button text text_color_white text_size_">Submit</button>
</section>