<section
  class="benchmarks partnership main-padding section-margin-top observed-js"
>
  <div id="benchmarks" class="ancor"></div>
  <div class="partnership__header">
    <h2
      class="partnership__title text_size_h2 text_color_dark-blue text_weight_medium appear-animation"
    >
      Benchmarks
    </h2>
  </div>
  <div class="partnership__list">
    <ul class="benchmarks__list partners-list_benchmarks">
      <li class="benchmarks__item">
        <div class="partners-list__card">
          <span class="benchmarks__title text text_size_small">
            Order and manage your
            <br />
            EUR bank card
          </span>
          <img
            class="partners-list__card-img"
            src="/images/content/benchmarks/euro.png"
            alt="euro"
          />
        </div>
      </li>

      <li class="benchmarks__item">
        <div class="partners-list__card">
          <span class="benchmarks__title text text_size_small">
            Change your fiat to ZIL
            <br />
            and use it to invest in ZilSwap
            <br />
            pools and staking
          </span>
          <img
            class="partners-list__card-img"
            src="/images/content/benchmarks/star.png"
            alt="star"
          />
        </div>
      </li>

      <li class="benchmarks__item">
        <div class="partners-list__card">
          <span class="benchmarks__title text text_size_small">
            Exchange between
            <br />
            ZIL and EUR in a minute
          </span>
          <img
            class="partners-list__card-img"
            src="/images/content/benchmarks/bulb.png"
            alt="bulb"
          />
        </div>
      </li>

      <li class="benchmarks__item">
        <div class="partners-list__card">
          <span class="benchmarks__title text text_size_small">
            All types of bank
            <br />
            transactions supported
          </span>
          <img
            class="partners-list__card-img"
            src="/images/content/benchmarks/fire.png"
            alt="fire"
          />
        </div>
      </li>
    </ul>
  </div>
</section>