<section class="benefits appearance-animation">
  <a href="/howto" class="benefits__item main-padding benefits__item_color_pink">
    <div class="benefits__figures-wrapper figures">
      <div
        class="figures__item-wrapper-moving figures__item-wrapper-moving_star_1_1"
      >
        <img
          src="images/content/figures/star.svg"
          alt="star"
          class="figures__star figures__item figures__item_animation_1"
        />
      </div>
      <div
        class="figures__item-wrapper-moving figures__item-wrapper-moving_star_2_1"
      >
        <img
          src="images/content/figures/star.svg"
          alt="star"
          class="figures__star figures__item figures__item_animation_2"
        />
      </div>
      <div
        class="figures__item-wrapper-moving figures__item-wrapper-moving_star_3_1"
      >
        <img
          src="images/content/figures/star.svg"
          alt="star"
          class="figures__star figures__item figures__item_animation_1"
        />
      </div>
      <div
        class="figures__item-wrapper-moving figures__item-wrapper-moving_star_4_1"
      >
        <img
          src="images/content/figures/star.svg"
          alt="star"
          class="figures__star figures__item figures__item_animation_3"
        />
      </div>
      <div
        class="figures__item-wrapper-moving figures__item-wrapper-moving_star_5_1"
      >
        <img
          src="images/content/figures/star.svg"
          alt="star"
          class="figures__star figures__item figures__item_animation_2"
        />
      </div>
      <div
        class="figures__item-wrapper-moving figures__item-wrapper-moving_star_1_2"
      >
        <img
          src="images/content/figures/star.svg"
          alt="star"
          class="figures__star figures__item figures__item_animation_1"
        />
      </div>
      <div
        class="figures__item-wrapper-moving figures__item-wrapper-moving_star_2_2"
      >
        <img
          src="images/content/figures/star.svg"
          alt="star"
          class="figures__star figures__item figures__item_animation_2"
        />
      </div>
      <div
        class="figures__item-wrapper-moving figures__item-wrapper-moving_star_3_2"
      >
        <img
          src="images/content/figures/star.svg"
          alt="star"
          class="figures__star figures__item figures__item_animation_1"
        />
      </div>
      <div
        class="figures__item-wrapper-moving figures__item-wrapper-moving_star_4_2"
      >
        <img
          src="images/content/figures/star.svg"
          alt="star"
          class="figures__star figures__item figures__item_animation_3"
        />
      </div>
      <div
        class="figures__item-wrapper-moving figures__item-wrapper-moving_star_5_2"
      >
        <img
          src="images/content/figures/star.svg"
          alt="star"
          class="figures__star figures__item figures__item_animation_2"
        />
      </div>
    </div>
    <div class="benefits__contetn">
      <h4
        class="benefits__title text_size_main text_weight_medium text_color_black"
      >
        Buying and sending
        <br />
        Zilliqa inside telegram
      </h4>
      <div
        class="benefits__link text_size_x-small text_color_dark-blue text_weight_bold text_uppercase"
      >
        more
        <img
          src="images/content/link-ellipse.svg"
          alt=""
          class="benefits__link-img"
        />
      </div>
    </div>
  </a>
  <a
    href="/zilswap"
    class="benefits__item main-padding benefits__item_color_light-orange"
  >
    <div class="benefits__figures-wrapper figures">
      <div
        class="figures__item-wrapper-moving figures__item-wrapper-moving_rectangle_1_1"
      >
        <img
          src="images/content/figures/rectangle.svg"
          alt="rectangle"
          class="figures__rectangle figures__item figures__item_animation_1"
        />
      </div>
      <div
        class="figures__item-wrapper-moving figures__item-wrapper-moving_rectangle_2_1"
      >
        <img
          src="images/content/figures/rectangle.svg"
          alt="rectangle"
          class="figures__rectangle figures__item figures__item_animation_2"
        />
      </div>
      <div
        class="figures__item-wrapper-moving figures__item-wrapper-moving_rectangle_3_1"
      >
        <img
          src="images/content/figures/rectangle.svg"
          alt="rectangle"
          class="figures__rectangle figures__item figures__item_animation_1"
        />
      </div>
      <div
        class="figures__item-wrapper-moving figures__item-wrapper-moving_rectangle_4_1"
      >
        <img
          src="images/content/figures/rectangle.svg"
          alt="rectangle"
          class="figures__rectangle figures__item figures__item_animation_3"
        />
      </div>
      <div
        class="figures__item-wrapper-moving figures__item-wrapper-moving_rectangle_5_1"
      >
        <img
          src="images/content/figures/rectangle.svg"
          alt="rectangle"
          class="figures__rectangle figures__item figures__item_animation_2"
        />
      </div>
      <!--  -->
      <div
        class="figures__item-wrapper-moving figures__item-wrapper-moving_rectangle_1_2"
      >
        <img
          src="images/content/figures/rectangle.svg"
          alt="rectangle"
          class="figures__rectangle figures__item figures__item_animation_1"
        />
      </div>
      <div
        class="figures__item-wrapper-moving figures__item-wrapper-moving_rectangle_2_2"
      >
        <img
          src="images/content/figures/rectangle.svg"
          alt="rectangle"
          class="figures__rectangle figures__item figures__item_animation_2"
        />
      </div>
      <div
        class="figures__item-wrapper-moving figures__item-wrapper-moving_rectangle_3_2"
      >
        <img
          src="images/content/figures/rectangle.svg"
          alt="rectangle"
          class="figures__rectangle figures__item figures__item_animation_1"
        />
      </div>
      <div
        class="figures__item-wrapper-moving figures__item-wrapper-moving_rectangle_4_2"
      >
        <img
          src="images/content/figures/rectangle.svg"
          alt="rectangle"
          class="figures__rectangle figures__item figures__item_animation_3"
        />
      </div>
      <div
        class="figures__item-wrapper-moving figures__item-wrapper-moving_rectangle_5_2"
      >
        <img
          src="images/content/figures/rectangle.svg"
          alt="rectangle"
          class="figures__rectangle figures__item figures__item_animation_2"
        />
      </div>
    </div>
    <div class="benefits__contetn">
      <h4
        class="benefits__title text_size_main text_weight_medium text_color_black"
      >
        Earning crypto
        <br />
        on Zilswap pools
      </h4>
      <div
        class="benefits__link text_size_x-small text_color_dark-blue text_weight_bold text_uppercase"
      >
        more
        <img
          src="images/content/link-ellipse.svg"
          alt=""
          class="benefits__link-img"
        />
      </div>
    </div>
  </a>
  <a href="/docs/internship.pdf" target="_blank" class="benefits__item main-padding benefits__item_color_purpure">
    <div class="benefits__figures-wrapper figures">
      <div
        class="figures__item-wrapper-moving figures__item-wrapper-moving_polygon_1_1"
      >
        <img
          src="images/content/figures/polygon.svg"
          alt="polygon"
          class="figures__polygon figures__item figures__item_animation_1"
        />
      </div>
      <div
        class="figures__item-wrapper-moving figures__item-wrapper-moving_polygon_2_1"
      >
        <img
          src="images/content/figures/polygon.svg"
          alt="polygon"
          class="figures__polygon figures__item figures__item_animation_2"
        />
      </div>
      <div
        class="figures__item-wrapper-moving figures__item-wrapper-moving_polygon_3_1"
      >
        <img
          src="images/content/figures/polygon.svg"
          alt="polygon"
          class="figures__polygon figures__item figures__item_animation_1"
        />
      </div>
      <div
        class="figures__item-wrapper-moving figures__item-wrapper-moving_polygon_4_1"
      >
        <img
          src="images/content/figures/polygon.svg"
          alt="polygon"
          class="figures__polygon figures__item figures__item_animation_3"
        />
      </div>
      <div
        class="figures__item-wrapper-moving figures__item-wrapper-moving_polygon_5_1"
      >
        <img
          src="images/content/figures/polygon.svg"
          alt="polygon"
          class="figures__polygon figures__item figures__item_animation_2"
        />
      </div>
      <div
        class="figures__item-wrapper-moving figures__item-wrapper-moving_polygon_1_2"
      >
        <img
          src="images/content/figures/polygon.svg"
          alt="polygon"
          class="figures__polygon figures__item figures__item_animation_1"
        />
      </div>
      <div
        class="figures__item-wrapper-moving figures__item-wrapper-moving_polygon_2_2"
      >
        <img
          src="images/content/figures/polygon.svg"
          alt="polygon"
          class="figures__polygon figures__item figures__item_animation_2"
        />
      </div>
      <div
        class="figures__item-wrapper-moving figures__item-wrapper-moving_polygon_3_2"
      >
        <img
          src="images/content/figures/polygon.svg"
          alt="polygon"
          class="figures__polygon figures__item figures__item_animation_1"
        />
      </div>
      <div
        class="figures__item-wrapper-moving figures__item-wrapper-moving_polygon_4_2"
      >
        <img
          src="images/content/figures/polygon.svg"
          alt="polygon"
          class="figures__polygon figures__item figures__item_animation_3"
        />
      </div>
      <div
        class="figures__item-wrapper-moving figures__item-wrapper-moving_polygon_5_2"
      >
        <img
          src="images/content/figures/polygon.svg"
          alt="polygon"
          class="figures__polygon figures__item figures__item_animation_2"
        />
      </div>
    </div>
    <div class="benefits__contetn">
      <h4
        class="benefits__title text_size_main text_weight_medium text_color_black"
      >
        Learn more about
        <br />
        Zeeves internship
      </h4>
      <div
        class="benefits__link text_size_x-small text_color_dark-blue text_weight_bold text_uppercase"
      >
        more
        <img
          src="images/content/link-ellipse.svg"
          alt=""
          class="benefits__link-img"
        />
      </div>
    </div>
  </a>
</section>