<section class="card-screen appearance-animation">
  <div class="card-screen__bg-wrapper">
    <svg viewBox="0 0 1600 1020" fill="none" height="64vw">
      <g clip-path="url(#clip0_6_15)">
        <mask id="mask0_6_15" style="mask-type:alpha" maskUnits="userSpaceOnUse"
              x="-120" y="-820" width="1840"
              height="1840">
          <path class="card-screen__gear"
                d="M800 -820V-820C869.939 -735.599 991.699 -716.315 1084.3 -774.972V-774.972V-774.972C1124.73 -673.09 1234.57 -617.123 1340.76 -644.296V-644.296V-644.296C1347.73 -534.905 1434.91 -447.735 1544.3 -440.762V-440.762V-440.762C1517.12 -334.572 1573.09 -224.73 1674.97 -184.296V-184.296V-184.296C1616.31 -91.699 1635.6 30.0614 1720 100V100V100C1635.6 169.939 1616.31 291.699 1674.97 384.296V384.296V384.296C1573.09 424.73 1517.12 534.572 1544.3 640.762V640.762V640.762C1434.91 647.735 1347.73 734.905 1340.76 844.296V844.296V844.296C1234.57 817.123 1124.73 873.09 1084.3 974.972V974.972V974.972C991.699 916.315 869.939 935.599 800 1020V1020V1020C730.061 935.599 608.301 916.315 515.704 974.972V974.972V974.972C475.27 873.09 365.428 817.123 259.238 844.296V844.296V844.296C252.265 734.905 165.095 647.735 55.7043 640.762V640.762V640.762C82.877 534.572 26.9099 424.73 -74.972 384.296V384.296V384.296C-16.3145 291.699 -35.5994 169.939 -120 100V100V100C-35.5994 30.0614 -16.3145 -91.6989 -74.972 -184.296V-184.296V-184.296C26.9099 -224.73 82.877 -334.572 55.7043 -440.762V-440.762V-440.762C165.095 -447.735 252.265 -534.905 259.238 -644.296V-644.296V-644.296C365.428 -617.123 475.27 -673.09 515.704 -774.972V-774.972V-774.972C608.301 -716.315 730.061 -735.599 800 -820V-820Z"
                fill="#D9D9D9" />
        </mask>
        <g mask="url(#mask0_6_15)">
          <rect x="-60" width="1720" height="1020" fill="url(#pattern0)" />
        </g>
      </g>
      <defs>
        <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
          <use xlink:href="#image0_6_15" transform="translate(0 -0.276855) scale(0.000244141 0.000411688)" />
        </pattern>
        <clipPath id="clip0_6_15">
          <rect width="1600" height="1020" fill="white" />
        </clipPath>
        <image id="image0_6_15" width="4096" height="3774" xlink:href="/images/content/visa-cards.jpeg" />
      </defs>
    </svg>
  </div>
  <div class="card-screen__content">
    <h3 class="card-screen__title text text_color_white text_size_h1">
      First Zilliqa bank card <br>
      is going <span class="text_color_light-orange">to be live soon!</span>
    </h3>
    <a
      class="button button_color_orange button_type_common text_size_small text_color_white text_weight_bold first-section__main-button"
      href="/"
    >
      Join Wishlist
    </a>
  </div>
</section>
