<section class="card-release main-padding">
    <div class="svg-container ">
        <div class="svg-wrapper">
        {{> star-card-release-svg 
            color="#CFEAEC"
            class-names="star-card-release star-card-release_light-blue"}}
        {{> star-card-release-svg  
            color="#FFF1E5"
            class-names="star-card-release star-card-release_light-orange"}}
        {{> star-card-release-svg  
            color="#F1E7FF"
            class-names="star-card-release star-card-release_purple"}}
        {{> star-card-release-svg  
            color="#FFF3F3"
            class-names="star-card-release star-card-release_pink"}}
        </div>
    </div>
    <div class="text-wrapper">
        <span class="text text_size_h2 text_color_dark-blue">Zeeves</span><br class="phone">
        <span class="text text_size_h2 text_color_light-blue">is going to </span>
        <span class="text text_size_h2 text_color_orange">release</span><br class="desktop"><br class="phone">
        <span class="text text_size_h2 text_color_orange">ZIL bank card soon!</span>
    </div>
    <button class="button button_type_common button_color_orange text text_size_small text_color_white text_weight_bold main-padding">Go to the bot</button>
</section>