<section class="card-release main-padding">
    <div class="text-wrapper card-release__title appearance-animation">
        <span class="text text_size_h2 text_color_dark-blue">Zeeves </span><br class="phone">
        <span class="text text_size_h2 text_color_light-blue">is going to </span>
        <span class="text text_size_h2 text_color_orange">release</span><br class="desktop"><br class="phone">
        <span class="text text_size_h2 text_color_orange">ZIL bank card soon!</span>
    </div>
    <a href="/bank.html" class="card-release__button button button_type_common button_color_orange text text_size_small text_color_white text_weight_bold main-padding">
        Join Wishlist
        <div class="svg-container">
            <div class="svg-wrapper">
                <div class="star-card-release star-card-release_light-blue_1">
                    {{> star-card-release-svg 
                        color="#FFF3F3"
                        class-names="star-card-release_rotation star-card-release_rotation_1"}}
                </div>
                <div class="star-card-release star-card-release_light-orange_1">
                    {{> star-card-release-svg  
                        color="#FFF1E5"
                        class-names="star-card-release_rotation star-card-release_rotation_2"}}
                </div>
                <div class="star-card-release star-card-release_purple_1">
                    {{> star-card-release-svg  
                        color="#F1E7FF"
                        class-names="star-card-release_rotation star-card-release_rotation_3"}}
                </div>
                <div class="star-card-release star-card-release_pink_1">
                    {{> star-card-release-svg  
                        color="#FFF3F3"
                        class-names="star-card-release_rotation star-card-release_rotation_4"}}
                </div>
                <div class="star-card-release star-card-release_light-blue_2">
                    {{> star-card-release-svg 
                        color="#FFF3F3"
                        class-names="star-card-release_rotation star-card-release_rotation_1"}}
                </div>
                <div class="star-card-release star-card-release_light-orange_2">
                    {{> star-card-release-svg  
                        color="#FFF1E5"
                        class-names="star-card-release_rotation star-card-release_rotation_2"}}                    
                </div>
                <div class="star-card-release star-card-release_purple_2">
                    {{> star-card-release-svg  
                        color="#F1E7FF"
                        class-names="star-card-release_rotation star-card-release_rotation_3 "}}
                </div>
                <div class="star-card-release star-card-release_pink_2">
                    {{> star-card-release-svg  
                        color="#FFF3F3"
                        class-names="star-card-release_rotation star-card-release_rotation_4"}}
                </div>
            </div>
        </div>
    </a>
</section>