<section class="card-release">
    <div class="svg-container main-padding">
        <div class="svg-wrapper">
        {{> star-card-release 
            color="#CFEAEC"
            class-names="star-card-release star-card-release_light-blue"}}
        {{> star-card-release 
            color="#FFF1E5"
            class-names="star-card-release star-card-release_light-orange"}}
        {{> star-card-release 
            color="#F1E7FF"
            class-names="star-card-release star-card-release_purple"}}
        {{> star-card-release 
            color="#FFF3F3"
            class-names="star-card-release star-card-release_pink"}}
        {{> star-card-release-bg
            class-names="star-card-release star-card-release_bg"}}
        </div>
    </div>
    <div class="text-wrapper">
        <span class="text text_size_h2 text_color_dark-blue">Zeeves </span>
        <span class="text text_size_h2 text_color_light-blue">is going to </span>
        <span class="text text_size_h2 text_color_orange">release</span><br>
        <span class="text text_size_h2 text_color_orange">ZIL bank card soon!</span>
    </div>
</section>