<section class="card-screen appearance-animation header-separator">
  <svg
    viewBox="0 0 1 1"
    xmlns="http://www.w3.org/2000/svg"
    class="card-screen__example-svg"
  >
    <clipPath id="myPath" clipPathUnits="objectBoundingBox">
      <rect x="0.265625" width="0.465116" height="0.456395"></rect>
      <path
        d="M0.498251 0.302368V0.302368C0.52477 0.33437 0.570938 0.341683 0.606048 0.319441V0.319441V0.319441C0.621379 0.358072 0.663028 0.379293 0.703293 0.36899V0.36899V0.36899C0.705936 0.410468 0.738989 0.44352 0.780467 0.446164V0.446164V0.446164C0.770163 0.486428 0.791385 0.528077 0.830015 0.543409V0.543409V0.543409C0.807774 0.578519 0.815086 0.624687 0.847088 0.651205V0.651205V0.651205C0.815086 0.677724 0.807774 0.723892 0.830015 0.759002V0.759002V0.759002C0.791385 0.774334 0.770163 0.815982 0.780467 0.856247V0.856247V0.856247C0.738989 0.85889 0.705936 0.891943 0.703293 0.933421V0.933421V0.933421C0.663028 0.923118 0.621379 0.944339 0.606048 0.982969V0.982969V0.982969C0.570938 0.960728 0.52477 0.96804 0.498251 1.00004V1.00004V1.00004C0.471733 0.96804 0.425565 0.960728 0.390455 0.982969V0.982969V0.982969C0.375123 0.944339 0.333474 0.923118 0.29321 0.933421V0.933421V0.933421C0.290566 0.891943 0.257514 0.85889 0.216036 0.856247V0.856247V0.856247C0.226339 0.815982 0.205118 0.774334 0.166487 0.759002V0.759002V0.759002C0.188729 0.723892 0.181416 0.677724 0.149414 0.651205V0.651205V0.651205C0.181416 0.624687 0.188729 0.578519 0.166487 0.543409V0.543409V0.543409C0.205118 0.528077 0.226339 0.486428 0.216036 0.446164V0.446164V0.446164C0.257514 0.44352 0.290566 0.410468 0.29321 0.36899V0.36899V0.36899C0.333474 0.379293 0.375123 0.358072 0.390455 0.319441V0.319441V0.319441C0.425565 0.341683 0.471733 0.33437 0.498251 0.302368V0.302368Z"
      ></path>
    </clipPath>
  </svg>
  <div class="card-screen__bg-wrapper">
    <div class="card-screen__bg-inner">
      <div class="card-screen__bg"></div>
    </div>
  </div>
</section>