<section class="community section-margin-top main-padding observed-js">
  <div class="community__preference preference text text_size_h2 text_color_dark-blue appear-animation"
  >
    We already have<br class="community_tablet"><br class="community_phone">
    <span class="text text_size_h2 text_color_orange accentuation accentuation_users">
      42 737 users,
    </span>
    <br />
    who manage their
    <br class="community_phone">
    Zilliqa
    <br class="community_desktop">
    wallets<br class="community_phone"> through
    <span class="text text_size_h2 text_color_dark-blue accentuation accentuation_zeeves">
      Zeeves,
    </span>
    <br class="community_phone">
    earn
    <br class="community_desktop">
    $ZIL with
    <br class="community_phone">
    referral
    program<br />
    and participating in<br class="community_tablet">
    <br class="community_phone">
    <span class="text text_size_h2 text_color_dark-blue accentuation accentuation_society">
      Zilliqa community
    </span>
    <br class="community_phone">
    activities
    <br class="community_tablet"> on<br class="community_phone"> telegram
  </div>
  <button class="community__button button button_type_secondary text_size_small">Join community</button>
</section>
