<section class="community section-margin-top">
    <div class="community__preference preference text text_size_h2 text_color_dark-blue"
    >
        We already have
        <span
                class="text text_size_h2 text_color_orange accentuation accentuation_users"
        >42 737 users,</span
        >
        <br/>who manage their Zilliqa wallets through
        <span
                class="text text_size_h2 text_color_dark-blue accentuation accentuation_zeeves"
        >Zeeves,</span
        >
        earn $ZIL with referral program<br/>
        and participating in
        <span
                class="text text_size_h2 text_color_dark-blue accentuation accentuation_community"
        >Zilliqa community</span
        >
        activities on telegram
    </div>
    <button class="community__button button button_type_secondary">Join community</button>
</section>
