<section class="community section-margin-top main-padding observed-js">
  <div class="community__preference preference text text_size_h2 text_color_dark-blue appear-animation"
  >
    We already have<br class="community_tablet"><br class="community_phone">
    <span class="text text_size_h2 text_color_orange accentuation accentuation_users">
      <span id="users-count">42737</span> users,
    </span>
    <br />
    who manage their
    <br class="community_phone">
    Zilliqa
    <br class="community_desktop">
    wallets<br class="community_phone"> through
    <span class="text text_size_h2 text_color_dark-blue accentuation accentuation_zeeves">
      Zeeves,
    </span>
    <br class="community_phone">
    earn
    <br class="community_desktop">
    crypto with
    <br class="community_phone">
    ZilSwap
    pools<br />
    and participating in<br class="community_tablet">
    <br class="community_phone">
    <span class="text text_size_h2 text_color_dark-blue accentuation accentuation_society">
      Zilliqa community
    </span>
    <br class="community_phone">
    activities
    <br class="community_tablet"> on<br class="community_phone"> Telegram
  </div>
  <a href="https://t.me/zeeves" target=_blank><button class="community__button button button_type_secondary text_size_small">Join community</button></a>
</section>
<script>
  setInterval(() => {
    fetch('/count')
      .then(res => res.json())
      .then(res => {
        document.getElementById('users-count').innerText = res.Count || '42737';
      })
      .catch(err => {
        console.error('Error loading users');
      });
  }, 1000);
</script>
