<section class="text-block">
  <h1 class="text-block__title text text_size_h2 main-padding header-separator text_color_light-blue text_weight_medium">
    A guide <span class="text_color_dark-blue">how to</span> <br>
    <span class="text_color_dark-blue">manage</span> your <span class="text_color_dark-blue">Zeeves wallet</span>
  </h1>
  <div class="text-block__img-wrapper">
    <img src="/images/content/stub-img.jpg" alt="" class="text-block__img parallax">
  </div>
  <div class="text-block__main main-padding">
    <h2 class="text-block__sub-title text text_size_desc text_weight_medium">
      What is Zeeves?
    </h2>
    <div class="text-block__text text text_size_desc">
      <p class="text-block__paragraph">
        Zeeves - is a Telegram-based Zilliqa wallet and activity tool, thourgh which you can create Zilliqa account and interact with Zilliqa ecosystem.
      </p>
    </div>
  </div>
  <div class="text-block__main main-padding">
    <h2 class="text-block__sub-title text text_size_desc text_weight_medium">
      Is it secure?
    </h2>
    <div class="text-block__text text text_size_desc">
      <p class="text-block__paragraph">
        It is completely secure as far as all private keys are stored only on your device. When you register - you get QR code, which contains your private key, encrypted with password. QR code is sent to your email and will be needed to restore your account in case you remove it. Private key itself is stored in the browser cache on your device.
      </p>
    </div>
  </div>
  <div class="text-block__main main-padding">
    <h2 class="text-block__sub-title text text_size_desc text_weight_medium">
      What can I do inside Zeeves?
    </h2>
    <div class="text-block__text text text_size_desc">
      <p class="text-block__paragraph">
        You can manage your Zilliqa wallet, participate in Zilliqa community activities and create activities yourself - using quizzes, loyalty programs we do from time to time etc. You can earn $ZIL using ZilSwap, connect to ZilStream to see your crypto investments portfolio etc. Zilliqa community managers also often set up a lot of activities on Zeeves.
      </p>
    </div>
  </div>
  <div class="text-block__main main-padding">
    <h2 class="text-block__sub-title text text_size_desc text_weight_medium">
      I deleted my account. Can I restore it?
    </h2>
    <div class="text-block__text text text_size_desc">
      <p class="text-block__paragraph">
        Yes, you can go to the bot and choose "Import account" on initial page. You can find some useful instructions <a href="/howto">here</a> as well.
      </p>
    </div>
  </div>
  <div class="text-block__main main-padding">
    <h2 class="text-block__sub-title text text_size_desc text_weight_medium">
      If I lost my QR code, can I restore my account after it was deleted?
    </h2>
    <div class="text-block__text text text_size_desc">
      <p class="text-block__paragraph">
        Unfortunately, no.
      </p>
    </div>
  </div>
  <div class="text-block__main main-padding">
    <h2 class="text-block__sub-title text text_size_desc text_weight_medium">
      I got my QR, but forgot password. Can I restore my account?
    </h2>
    <div class="text-block__text text text_size_desc">
      <p class="text-block__paragraph">
       No.
      </p>
    </div>
  </div>
  <div class="text-block__main main-padding">
    <h2 class="text-block__sub-title text text_size_desc text_weight_medium">
      What if I got any other questions?
    </h2>
    <div class="text-block__text text text_size_desc">
      <p class="text-block__paragraph">
        Please contact us at any of our social media or write an email to <a href="mailto:team@zeeves.com">team@zeeves.com</a>
      </p>
      <br>
      <br>
      <br>
      <br>
      <p class="text-block__paragraph">
        Contact us at <a href="mailto:team@zeeves.com">team@zeeves.com</a> or <a href="https://t.me/ZeevesHelpdesk" target="_blank">https://t.me/ZeevesHelpdesk</a> in case of any problem
      </p>
    </div>
  </div>
</section>