<section class="first-section main-padding header-separator goto-separator">
    <h1
            class="first-section__title text_size_h1 text_color_white text_weight_medium"
    >
        <span class="text_color_dark-blue">zeeves</span>
        <span class="first-section__line">——</span>
        telegram based Zilliqa wallet and activity tool.
    </h1>
    <span class="first-section__desc text_color_dark-blue text_size_main">
    Zeeves can handle all transactions in a secure and splendiferously quick
    manner.
  </span>
    <div class="first-section__buttons">
        <a
                href=""
                class="button button_color_orange button_type_common text_size_small text_color_white text_weight_bold first-section__main-button"
        >
            Go to the bot
        </a>
        <a
                href=""
                class="button button_type_corner-filling text_size_small text_color_dark-blue text_weight_bold"
        >
            <span>About</span>
        </a>
    </div>
</section>
