<header class="header main-padding {{#if init-color-white }}header_white{{/if}}" id="main-header">
  <div class="header__inner">
    <a class="header__logo logo" href="/">
      <img class="logo__img" src="images/content/logo.svg" alt="logo:zeeves" />
    </a>
    <nav class="header__navbar">
      <ul class="navbar">
        <li class="navbar__item">
          <a href="/about" class="navbar__link text text_size_small">About us</a>
        </li>
        <li class="navbar__item">
          <a href="/howto" class="navbar__link text text_size_small">How to use Zeeves</a>
        </li>
        <li class="navbar__item">
          <a href="/careers" class="navbar__link text text_size_small">Careers</a>
        </li>
        <li class="navbar__item">
          <a href="/faq" class="navbar__link text text_size_small">FAQ</a>
        </li>
      </ul>
    </nav>
    <ul class="header__socials socials">
      <li class="socials__item">
        <a href="https://t.me/zeeves" target="_blank" class="social">
          <svg
            class="social__img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 18 16"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="m9.2 11.9-2 2a1 1 0 0 1-.8.2c-.2 0-.3 0-.4-.3L4.5 9.2c0-.2-.1-.2-.3-.3a325 325 0 0 1-4-1.3c-.2-.2-.3-.5 0-.7l.6-.4 4.4-1.7 11-4.2c.7-.3 1.2.1 1.1.9l-.2 1.4-2.4 11.3c-.2.9-.9 1-1.6.5L9.4 12l-.2-.1ZM6.5 13l.3-2.6c0-.2 0-.4.2-.5l3.4-3L14 3.5l.2-.3h-.4l-.4.2-8.3 5.2v.3l.5 1.8.8 2.3Z"
            ></path>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a href="https://twitter.com/zeevesbot" target="_blank" class="social">
          <svg
            class="social__img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 18 14"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M.5 12.25a9.96 9.96 0 0 0 5.28 1.5 9.6 9.6 0 0 0 9.8-9.96 6.88 6.88 0 0 0 1.72-1.73c-.62.26-1.28.44-1.98.52A3.38 3.38 0 0 0 16.84.73c-.67.38-1.4.66-2.2.81A3.5 3.5 0 0 0 12.15.5a3.4 3.4 0 0 0-3.37 4.1 9.88 9.88 0 0 1-7.1-3.5 3.32 3.32 0 0 0 1.07 4.47 3.49 3.49 0 0 1-1.57-.4v.03a3.38 3.38 0 0 0 2.77 3.29 3.51 3.51 0 0 1-1.56.05 3.43 3.43 0 0 0 3.22 2.33 7.04 7.04 0 0 1-5.1 1.39Z"
            ></path>
          </svg>
        </a>
      </li>
    </ul>
    <div class="header__menu-btn">
      <svg
        class="menu-btn"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 4"
      >
        <path
          d="M10 0a2 2 0 1 1 0 4 2 2 0 0 1 0-4ZM18 0a2 2 0 1 1 0 4 2 2 0 0 1 0-4ZM2 0a2 2 0 1 1 0 4 2 2 0 0 1 0-4Z"
        ></path>
      </svg>
      <svg class="menu-btn menu-btn_close"
           xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 14 14">
        <path
          d="m1.7 13.7 6-6-1.4-1.4-6 6 1.4 1.4Zm6-6 6-6L12.3.3l-6 6 1.4 1.4Zm6 4.6-6-6-1.4 1.4 6 6 1.4-1.4Zm-6-6-6-6L.3 1.7l6 6 1.4-1.4Z" />
      </svg>
    </div>
  </div>
</header>
<nav class="header__navbar burger-menu">
  <ul class="navbar">
    <li class="navbar__item">
      <a href="/about" class="navbar__link text text_size_small">About us</a>
    </li>
    <li class="navbar__item">
      <a href="/howto" class="navbar__link text text_size_small">How to use Zeeves</a>
    </li>
    <li class="navbar__item">
      <a href="/careers" class="navbar__link text text_size_small">Careers</a>
    </li>
    <li class="navbar__item">
      <a href="/faq" class="navbar__link text text_size_small">FAQ</a>
    </li>
  </ul>
</nav>
