<section class="community section-margin-top main-padding observed-js">
  <div class="community__preference preference text text_size_h2 text_color_dark-blue appear-animation">
    In the first cards
    <br class="community_phone">
     batch there
      <br class="community_desktop-bank">
      <br class="community_tablet">
      <span
    class="text text_size_h2 text_color_dark-blue accentuation accentuation_society">
      will&nbsp;be</span>
      <br class="community_phone">
      <span
    class="text text_size_h2 text_color_dark-blue accentuation accentuation_society">
      only</span>
    <span class="text text_size_h2 text_color_orange accentuation accentuation_users">
      <span id="users-count">
          10&nbsp;000&nbsp;cards.</span>  
    </span>
    <br class="community_phone">
    <br class="community_desktop-bank">
    <br class="community_tablet">
    Hurry up to be on<br class="community_phone">
     the edge of crypto
    <br class="community_phone">
     technologies!
    <br><br>
  </div>

  <img src="images/content/doodle-1.png" alt="doodle" class="community__doodle_left" />
  <img src="images/content/doodle-2.png" alt="doodle" class="community__doodle_right">

  <div class="community__pie diagram">
    <ul class="diagram__legends legends">
      <li class="legends__item legends__item_wishlist text text_size_desc">
        wishlist
      </li>
      <li class="legends__item legends__item_left text text_size_desc">
        left
      </li>
    </ul>
    <div class="diagram__pie-wrapper pie-wrapper-js">
      <svg class="diagram__pie pie" height="240" width="240" viewBox="0 0 20 20">
        <circle class="pie__circle pie__circle_one" r="10" cx="10" cy="10" fill="#F1E7FF" />
        <circle class="pie__circle pie__circle_two" r="5" cx="10" cy="10" fill="transparent"
                stroke="#FFF1E5"
                stroke-width="10"
                stroke-dasharray="calc(30 * 31.4 / 100) 31.4"
                transform="rotate(-90) translate(-20)" />
      </svg>
      <span class="diagram__tooltip text text_size_desc diagram-tooltip-js">
        9877 cards left
      </span>
    </div>
  </div>

</section>
