<section class="manage main-padding section-margin-top">
  <div class="manage__column appearance-animation">
    <h2
      class="manage__title text_size_h2 text_color_light-blue text_weight_medium"
    >
      Manage
      <br />
      your
      <span class="text_color_dark-blue">Zilliqa wallet</span>
    </h2>
    <span
      class="manage__desc-title text_uppercase text_size_x-small text_color_orange text_weight_bold"
    >Speciap offer
    </span>
    <p class="manage__desc text_size_desc">
      Zilliqa buying fees in Zeeves are reduced
      <br />
      to ZERO until 02.03.2020
    </p>
  </div>
  <div
    class="manage__column text_size_main text_color_dark-blue appearance-animation"
    data-appearance-animation="chat-animation"
  >
    <div class="manage__chat-wrapper">
      <div class="manage__chat-step">
        <div
          class="manage__user manage_bacground-color_dark-blue text_color_white"
        >
          U
        </div>
        <div class="manage__message manage_bacground-color_pink">
          Create a Zilliqa wallet
        </div>
      </div>
      <div class="manage__chat-step">
        <div class="manage__message manage_bacground-color_light-orange">
          Buy Zilliqa
        </div>
      </div>
      <div class="manage__chat-step">
        <div class="manage__message manage_bacground-color_purpure">
          Send Zilliqa
        </div>
      </div>
      <div class="manage__chat-step">
        <div
          class="manage__user manage_bacground-color_light-blue manage_align_right"
        >
          U
        </div>
        <div
          class="manage__message manage_bacground-color_light-blue manage_align_right"
        >
          Get your balance in $USD according
          <br />
          to actual exchange rates.
        </div>
      </div>
    </div>
    <img src="images/content/doodle-1.png" alt="doodle" class="manage__doodle" />
</section>
