<div id="popup" class="popup">
   <div class="popup-body main-padding">
      <div class="popup-text text_transform_uppercase text_size_h1">
			Thanks for the<br>
         application
		</div>
      <a href="/index.html" class="close-popup button button_type_common button_color_orange text text_size_small text_color_white text_weight_bold main-padding">OK</a>
	</div>
</div>

