{{!-- <div id="popup" class="popup">
   <div class="popup-body main-padding">
      <div class="popup-text text_transform_uppercase text_type_h1">
		<h2 class="text gratitude main-padding">
            Отлично, ИДИ НАХУЙ! 
        </h2>
        <button class="close button but">Уже БЕГУ!</button>
	  </div>
	</div>
</div> --}}
<div id="popup" class="popup">
   <div class="popup-body main-padding">
      <div class="popup-text text_transform_uppercase text_type_h1">
			<h2 class="text gratitude main-padding">Отлично, ИДИ НАХУЙ! 
         </h2>
            {{> popup-background}}
		</div>
	</div>
</div>

