<div class="popup popup-card-js" style="display: none">
  <div class="popup-body main-padding">
    <div class="popup-text text text_transform_uppercase text_color_white text_size_h1">
      Thanks for the<br>
      <span class="text_color_light-orange">application</span>
    </div>
    <button
      class="close-popup button button_type_common button_color_orange text text_size_small">
      OK
    </button>
  </div>
</div>

