<section class="steps-section main-padding section-margin-top">
    <h2
            class="steps-section__title text_size_h2 text_color_light-blue text_weight_medium"
    >
        How you can
        <br/>
        earn
        <span class="text_color_dark-blue"> Zilliqa using Zeeves? </span>
    </h2>
    <ul class="steps-section__list steps-list">
        <li class="steps-list__item step">
      <span class="step__count text text_color_light-blue text_size_h2">
        01
      </span>
            <h3 class="step__title text text_size_desc">
                Create a wallet
                <br/>
                on Zeeves
            </h3>
        </li>
        <li class="steps-list__item step">
      <span class="step__count text text_color_light-blue text_size_h2">
        02
      </span>
            <h3 class="step__title text text_size_desc">
                Copy you
                <br/>
                referral link
            </h3>
        </li>
        <li class="steps-list__item step">
      <span class="step__count text text_color_light-blue text_size_h2">
        03
      </span>
            <h3 class="step__title text text_size_desc">
                Tap referral program
                <br/>
                button
            </h3>
        </li>
        <li class="steps-list__item step">
      <span class="step__count text text_color_light-blue text_size_h2">
        04
      </span>
            <h3 class="step__title text text_color_dark-blue text_size_desc">
                Get 10 $ZIL for each user who register by your link
            </h3>
        </li>
    </ul>
    <div class="steps-section__actions">
        <button class="steps-section__action button button_type_secondary">
            Learn more
        </button>
    </div>
    <img
            src="images/content/doodle-2.png"
            alt="doodle"
            class="steps-section__doodle"
    />
</section>
