<section class="text-block">
  <h1 class="text-block__title text text_size_h2 main-padding header-separator text_color_light-blue text_weight_medium">
    A guide <span class="text_color_dark-blue">how to</span> <br>
    <span class="text_color_dark-blue">manage</span> your <span class="text_color_dark-blue">Zeeves wallet</span>
  </h1>
  <div class="text-block__img-wrapper">
    <img src="/images/content/stub-img.jpg" alt="" class="text-block__img parallax">
  </div>
  <div class="text-block__main main-padding">
    <h2 class="text-block__sub-title text text_size_desc text_weight_medium">
      Create account
    </h2>
    <div class="text-block__text text text_size_desc">
      <p class="text-block__paragraph">
        1) Choose "Create account" option from the first message of the bot after you start the chat
      </p>
      <p class="text-block__paragraph">
        2) Web page will be opened (this is bot secure UI, where account data will be stored on your local device)
      </p>
      <p class="text-block__paragraph">
        3) Fill in the simple registration form (<strong>please, remember password you specify, you will not be able to restore it in the future!</strong>)
      </p>
      <p class="text-block__paragraph">
        4) Choose authentication method (both are same secure) - QR code or mnemonic phrase
      </p>
      <p class="text-block__paragraph">
        5) Save your authentication data somewhere (QR code is being sent to email, because it unlocks account only in pair with password which you remember, while mnemonic is not being transferred anywhere, as far as it is the exclusive key for your account)
      </p>
      <p class="text-block__paragraph">
        6) Close web page - you now should be able to use Zeeves bot!
      </p>
    </div>
  </div>
  <div class="text-block__main main-padding">
    <h2 class="text-block__sub-title text text_size_desc text_weight_medium">
      Import account
    </h2>
    <div class="text-block__text text text_size_desc">
      <p class="text-block__paragraph">
        1) Choose "Import account" option from the first message of the bot after you start the chat or remove previous account
      </p>
      <p class="text-block__paragraph">
        2) Web page will be opened (this is bot secure UI, where account data will be stored on your local device)
      </p>
      <p class="text-block__paragraph">
        3) Choose account import method. Now we support three methods - QR Code + Password, Mnemonic Phrase or Private Key
      </p>
      <p class="text-block__paragraph">
        4) Provide web page with all required authentication data
      </p>
      <p class="text-block__paragraph">
        5) You will be given Zeeves bot QR right after account import, feel free to use it to import account again on other devices
      </p>
      <p class="text-block__paragraph">
        6) Close web page - you now should be able to use Zeeves bot!
      </p>
    </div>
  </div>
  <div class="text-block__main main-padding">
    <h2 class="text-block__sub-title text text_size_desc text_weight_medium">
      Buying crypto
    </h2>
    <div class="text-block__text text text_size_desc">
      <p class="text-block__paragraph">
        1) Push "Buy Zilliqa" button in the main menu
      </p>
      <p class="text-block__paragraph">
        2) Choose a payment service and push the respective button (use MoonPay for most of countries or XanPool if you are from ASEAN)
      </p>
      <p class="text-block__paragraph">
        3) You will be redirected to the payment service website
      </p>
      <p class="text-block__paragraph">
        4) Follow the instructions on the payment website
      </p>
    </div>
  </div>
  <div class="text-block__main main-padding">
    <h2 class="text-block__sub-title text text_size_desc text_weight_medium">
      Sending crypto
    </h2>
    <div class="text-block__text text text_size_desc">
      <p class="text-block__paragraph">
        1) Push "Send" button in the main menu
      </p>
      <p class="text-block__paragraph">
        2) Choose what do you want to send - Zilliqa or Zilliqa-based token (ZRC) on your balance
      </p>
      <p class="text-block__paragraph">
        3) Enter amount you want to transact and send it to the bot OR choose "Max" option within inline menu
      </p>
      <p class="text-block__paragraph">
        4) Enter transaction destination - it can be telegram nickname of other Zeeves user or zilliqa address
      </p>
    </div>
  </div>
  <div class="text-block__main main-padding">
    <h2 class="text-block__sub-title text text_size_desc text_weight_medium">
      Viewing NFT balances
    </h2>
    <div class="text-block__text text text_size_desc">
      <p class="text-block__paragraph">
        1) Press /nft link in the message above main menu, or type /nft command yourself
      </p>
      <p class="text-block__paragraph">
        2) You will be able to view your NFT balances
      </p>
      <p class="text-block__paragraph">
        3) For now you can only view NFT urls and perform Sending NFT transaction, same way as ZRC token transfer
      </p>
      <p class="text-block__paragraph">
        4) To switch back to regular main menu mode you can use /tokens command
      </p>
    </div>
  </div>
  <div class="text-block__main main-padding">
    <h2 class="text-block__sub-title text text_size_desc text_weight_medium">
      Get address information
    </h2>
    <div class="text-block__text text text_size_desc">
      <p class="text-block__paragraph">
        1) Press "My address" in the main menu
      </p>
      <p class="text-block__paragraph">
        2) Copy your address from bot message
      </p>
      <p class="text-block__paragraph">
        3) Optionally go to Viewblock using external link to view your zilliqa wallet on blockchain explorer
      </p>
    </div>
  </div>
  <div class="text-block__main main-padding">
    <h2 class="text-block__sub-title text text_size_desc text_weight_medium">
      Viewing transaction history
    </h2>
    <div class="text-block__text text text_size_desc">
      <p class="text-block__paragraph">
        1) Press "Settings" in the main menu
      </p>
      <p class="text-block__paragraph">
        2) Press "Payment history"
      </p>
      <p class="text-block__paragraph">
        3) Choose direction - from you or to you
      </p>
      <p class="text-block__paragraph">
        4) Get full details about transactions you've made using Zeeves bot
      </p>
      <p class="text-block__paragraph">
        5) Please not, that by now not all transfer will appear on Payment History, for exact details please go to Viewblock
      </p>
    </div>
  </div>
  <div class="text-block__main main-padding">
    <h2 class="text-block__sub-title text text_size_desc text_weight_medium">
      Switch account
    </h2>
    <div class="text-block__text text text_size_desc">
      <p class="text-block__paragraph">
        1) Press "Settings" in the main menu
      </p>
      <p class="text-block__paragraph">
        2) Press "Remove account"
      </p>
      <p class="text-block__paragraph">
        3) Confirm removal going through web UI page to clear current account data on secure UI
      </p>
      <p class="text-block__paragraph">
        4) Create a new account or import the one you already have
      </p>
      <br>
      <br>
      <br>
      <br>
      <p class="text-block__paragraph">
        Contact us at <a href="mailto:team@zeeves.com">team@zeeves.com</a> or <a href="https://t.me/ZeevesHelpdesk" target="_blank">https://t.me/ZeevesHelpdesk</a> in case of any problem
      </p>
    </div>
  </div>
</section>