<section class="text-block">
  <h1 class="text-block__title text text_size_h2 main-padding header-separator text_color_light-blue text_weight_medium">
    Manage <br>
    your <span class="text_color_dark-blue">Zilliqa wallet</span>
  </h1>
  <div class="text-block__img-wrapper">
    <img src="/images/content/stub-img.jpg" alt="" class="text-block__img parallax">
  </div>
  <div class="text-block__main main-padding">
    <h2 class="text-block__sub-title text text_size_desc text_weight_medium">
      Zilliqa buying fees in Zeeves are reduced <br>
      to ZERO until 02.03.2020
    </h2>
    <div class="text-block__text text text_size_desc">
      <p class="text-block__paragraph">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
      </p>
      <p class="text-block__paragraph">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
      </p>
    </div>
  </div>
  <div class="text-block__main main-padding">
    <h2 class="text-block__sub-title text text_size_desc text_weight_medium">
      Zilliqa buying fees in Zeeves are reduced <br>
      to ZERO until 02.03.2020
    </h2>
    <div class="text-block__text text text_size_desc">
      <p class="text-block__paragraph">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
      </p>
      <p class="text-block__paragraph">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
      </p>
    </div>
  </div>
</section>