<section class="text-block">
  <h1 class="text-block__title text text_size_h2 main-padding header-separator text_color_light-blue text_weight_medium">
    <span class="text_color_dark-blue">How to</span> use <span class="text_color_dark-blue">Zilswap</span> <br>
    with your <span class="text_color_dark-blue">Zeeves wallet</span>
  </h1>
  <div class="text-block__img-wrapper">
    <img src="/images/content/stub-img.jpg" alt="" class="text-block__img parallax">
  </div>
  <div class="text-block__main main-padding">
    <div class="text-block__text text text_size_desc">
      <p class="text-block__paragraph">
        1) Create <a href="https://t.me/zilliqawalletbot" class="text_color_dark-blue" target="_blank">Zeeves</a> account if you have not done it yet
      </p>
      <p class="text-block__paragraph">
        2) Open <a class="text_color_dark-blue" href="https://zilswap.io" target="_blank">Zilswap site</a>
      </p>
      <p class="text-block__paragraph">
        3) Press "Connect wallet" and choose "Zeeves"
        <br>
        <br>
        <img src="/images/content/zilswap1.png">
        <br>
        <img src="/images/content/zilswap2.png">
        <br>
        <img src="/images/content/zilswap3.png">
      </p>
      <p class="text-block__paragraph">
        4) Zeeves authentication popup will be opened. In rare cases some browsers block popups by default. In this case, please, enable it to authenticate
      </p>
      <p class="text-block__paragraph">
        5) The first time you enter Zilswap with Zeeves you will need to enter your telegram nickname, which is related to your Zeeves account, this will not be required for further authentications
        <br>
        <br>
        <img src="/images/content/zilswap4.png">
      </p>
      <p class="text-block__paragraph">
        6) Then for security reasons you will need to enter one-time password which Zeeves should send you to your telegram
        <br>
        <br>
        <img src="/images/content/zilswap5.png">
      </p>
      <p class="text-block__paragraph">
        7) Done! You are authenticated on Zilswap. You now can use all its features - swap Zilliqa-based tokens, invest into liquidity pools etc.
        <br>
        <br>
        <img src="/images/content/zilswap6.png">
        <br>
        <br>
        You can learn more about all Zilswap opportunities here - <a class="text_color_dark-blue" href="https://docs.zilswap.io/" target="_blank">Official Zilswap Docs</a>.
      </p>
    </div>
  </div>
</section>