// colors
$white: #fbfdff;
$black: #222222;
$dark-blue: #299197;
$light-blue: #cfeaec;
$orange: #f2943e;
$light-orange: #fff1e5;
$pink: #fff3f3;
$purpure: #f1e7ff;

// fonts
$fontMain: "TT Hoves", Arial, sans-serif;

//base
$base-x: 4px;

// size
$size-2: 2 * $base-x;
$size-3: 3 * $base-x;
$size-4: 4 * $base-x;
$size-5: 5 * $base-x;
$size-6: 6 * $base-x;
$size-7: 7 * $base-x;
$size-8: 8 * $base-x;
$size-10: 10 * $base-x;
$size-12: 12 * $base-x;
$size-14: 14 * $base-x;
$size-16: 16 * $base-x;
$size-20: 20 * $base-x;
$size-22: 22 * $base-x;
$size-26: 26 * $base-x;
$size-27: 27 * $base-x;
$size-35: 35 * $base-x;

//font-size
$font-size-24: 24 * $base-x;
$font-size-21: 21 * $base-x;
$font-size-19: 19 * $base-x;
$font-size-17: 17 * $base-x;
$font-size-15: 15 * $base-x;
$font-size-14: 14 * $base-x;
$font-size-13: 13 * $base-x;
$font-size-8: 8 * $base-x;
$font-size-7: 7 * $base-x;
$font-size-6: 6 * $base-x;
$font-size-5: 5 * $base-x;
$font-size-4: 4 * $base-x;
$font-size-3: 3 * $base-x;
$font-size-2: 2 * $base-x;

// media
$desktop-xlg-width: 1920px;
$desktop-lg-width: 1600px;
$desktop-md-width: 1440px;
$desktop-sm-width: 1280px;
$tablet-lg-width: 1024px;
$tablet-sm-width: 768px;
$phone-width: 600px;

//z-index
$z-index-header: 100;
